# Backend API URL (Internal)
BACKEND_URL=http://localhost:5000

# Socket.io Connection URL (Public)
NEXT_PUBLIC_SOCKET_URL=http://localhost:5000

# LiveKit Connection URL (Public)
NEXT_PUBLIC_LIVEKIT_URL=wss://your-project.livekit.cloud
