FRONTEND_DOMAIN="http://localhost:5174"
HTTP_PORT=8080

JWT_SECRET=NsVoSRhsUdptG8jD2k/I4ifiaqCG+rx0ODK8CYgKiXU=
PASS_PEPPER=3uaZR779xBHHaGv2q6JUYXGvf4lbLVbJq74EnMGCROk=

DB_CONNECTION_STRING=postgresql://neondb_owner:password@ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

DB_PROTOCOL=postgresql
DB_USERNAME=postgres 
DB_PASSWORD=password 
DB_HOST=host
DB_PORT=5432 
DB_NAME=postgres 
DB_SSL_MODE=false

