NODE_ENV=development
PORT=5000

DB_URL=mongodb://localhost:27017/quickhire

# Frontend URL for CORS configuration
FRONTEND_URL=http://localhost:3000

# BCRYPT
BCRYPT_SALT_ROUND=how many rounds of salt you want to add to the password hashing process, typically a number like 10 or 12

# JWT 
JWT_ACCESS_SECRET=secret
JWT_ACCESS_EXPIRES=any time frame you want, such as 15m for 15 minutes or 1h for 1 hour

JWT_REFRESH_SECRET=refresh-secret
JWT_REFRESH_EXPIRES=any time frame you want, such as 7d for 7 days or 30d for 30 days

# Express Session
EXPRESS_SESSION_SECRET=express-session-secret

# Google
GOOGLE_CLIENT_SECRET=google-client-secret
GOOGLE_CLIENT_ID=google-client-id
GOOGLE_CALLBACK_URL=callback-url-for-google-authentication